/*
!.config
!.fvwm
/.fvwm/.FvwmConsole-History
/.config/*
!.config/i3
!.config/compton.conf
!.config/ibus
!.tmux
/.config/ibus/bus
/.config/ibus/rime/
!.config/ubin
!.gitignore
!.zshrc
!.zshenv
!.spacemacs
!.xprofile
!.Xresources
!.xinitrc
!.xscreensaver
!README.org
