/*
!.config
!.fvwm
/.config/*
!.config/i3
!.config/compton.conf
!.config/ibus
/.config/bus
/.config/ibus/rime/*.bin
/.config/ibus/rime/*.userdb
!.gitignore
!.zshrc
!.zshenv
!.spacemacs
!.xprofile
!.Xresources
!README.org
